@using NG_2023_Kanban.DTOs
@{
     var user = ViewData["Account"] as UserDto;
 }

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>@user.FullName</h2>
</div>
