@using NG_2023_Kanban.DTOs
@{
     var user = ViewData["EditedAccount"] as UserDto;
 }

@{
    ViewData["Title"] = "Edit user";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
@if (ViewData["Error"] != null)
{
    <p>@ViewData["Error"]</p>
}
    <form method="POST">
        <label for="fullName">Full name: </label><br>
        <input type="text" id="fullName" name="fullName" value="@user.FullName" required><br>
        <label for="username">Username: </label><br>
        <input type="text" id="username" name="username" value="@user.Username" required><br>
        <label for="password">Password: </label><br>
        <input type="password" id="password" name="password"><br>
        <button id="submit" type="submit">Submit</button>
    </form>
</div>
