@using NG_2023_Kanban.DTOs
@{
    var users = ViewData["Users"] as ICollection<UserDto>;
}

@{
    ViewData["Title"] = "Users";
}

<div class="text-center">
    <h1 class="display-4">Users</h1>
    @{
        foreach (var user in users)
        {
            <p>@user.Username</p>
        }
    }
</div>
